.my-applications-container {
  max-width: 1300px;
  margin: 20px auto 20px;
  padding: 10px;
}

.applications-loading {
  display: flex;
  justify-content: center;
  padding: 50px 0;
}

.no-applications {
  text-align: center;
  margin: 10px 0!important;
}

.application-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 7px 15px;
}

.application-item {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 5px;
}

.application-item-content {
  display: flex;
  gap: 5px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.application-item-key-name,
.application-item-key-value {
  font-size: 12px;
  font-weight: 600;
  min-width: 50%;
}

.application-item-key-value {
  font-weight: 400;
  width: unset;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (max-width: 1350px) {
  .my-applications-container {
    margin: 20px 20px;
  }
}

@media (max-width: 719px) {
  .my-applications-container {
    margin: 20px 10px;
  }

  .application-item-key-name {
    min-width: 100px;
  }
}

@media (max-width: 554px) {
  .application-items {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
}
