form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
}

form a {
  color: #1976d2;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}

.MuiTextField-root {
  width: 100% !important;
}

.MuiAutocomplete-root {
  padding: 0;
}

.hydra-id-input {
  position: relative;
}
