html, body, #root {
  height: 100%;
}

.App {
  text-align: center;
  overflow-y: auto;
}

.nav-links {
  display: flex;
}

.nav-links-mobile {
  display: none;
}

.mobile-nav-bar a {
  color: black!important;
  text-decoration: none!important;
  width: 100%;
}

.nav-link {
  font-size: 12px!important;
}

.MuiButtonBase-root {
  padding: 4px 12px!important;
}

.MuiToolbar-root {
  padding: 0 50px 0 70px!important;
}

.MuiToolbar-root .MuiTypography-h6 {
  text-transform: uppercase;
}

.MuiAutocomplete-popupIndicator,
.MuiAutocomplete-clearIndicator {
  padding: 4px !important;
}

@media (max-width: 1024px) {
  .MuiToolbar-root {
    padding: 0 30px!important;
  }

  .nav-link {
    font-size: 10px!important;
  }
}

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .nav-links-mobile {
    display: flex;
  }
}

@media (max-width: 600px) {
  .MuiToolbar-root {
    padding: 0 15px!important;
  }
}

@media (max-width: 400px) {
  form {
    width: 100%;
    box-sizing: border-box;
    max-width: unset;
  }
}
